.card-container{
  background-color: #ded2d4;
  /* background: url(assests/back_piece.jpeg); */
  /* backdrop-filter: blur(1px); */
}
.main-card-container{
  border-radius: 12px;
background: linear-gradient(145deg, #dcbdbd, #ffe1e1);
box-shadow:  18px 18px 36px #b29999,
             -18px -18px 36px #ffffff;
}
.card-container-left {
  height: 70%;
  width: 100%;
  /* background-color: aqua; */
  display: flex;
  flex-direction: row;
  margin-top: 1rem;
  padding: 2rem;
}
.card-container-right{
    height: 70%;
    width: 100%;
    /* background-color: aqua; */
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    margin-top: 1rem;
    padding: 2rem;
}
.card-container-left img {
  height: 23rem;
  width: 30rem;
  border-radius: 10px;
}
.card-container-right img{
    height: 23rem;
    width: 30rem;
    border-radius: 10px;
}
.para-container {
  height: 23rem;
  width: 30rem;
  /* background-color: brown; */
  margin-left:2px;
  border-radius: 10px;
  padding: 1rem;
}
.img{
  border-radius: 20px;
  filter: drop-shadow(2px 4px 6px black);
  max-height: 300px;
}