.ticketpage {
    border: 1px solid #ccc;

}

.container123 {
    /* width: 100%; */
    /* border: 1px solid black; */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 2rem;
    background-image: url(./assests/enquiry.jpeg);
}
.clichere{
    font-size: 2rem;
}

.neumorphic-button {
    border: none;
    background-color: #e0e0e0;
    border-radius: 10px;
    padding: 10px 20px;
    cursor: pointer;
    margin-top: 10px;
    box-shadow: 5px 5px 10px #b0b0b0,
                -5px -5px 10px #ffffff;
  }

/* col-12 col-md-6 mx-auto my-5 d-flex justify-content-around align-items-center */
/* mx-2 mt-3'  style={{boxShadow: '1px 1px 5px 1px orange',borderRadius: '20px',background: 'antiquewhite'}} */
/* className='btn bg-warning fw-bold text-white' style={{minWidth : '150px'}} */